VITE_SUPABASE_URL=https://wboelthngddvkgrvwkbu.supabase.co
VITE_SUPABASE_ANON_KEY=cole_a_anon_key_aqui
VITE_SUPA_BASE_BCNT_URL=cole_a_url_da_bcnt_aqui
VITE_SUPA_BASE_BCNT_ANON_KEY=cole_a_anon_key_da_bcnt_aqui
